.modal-content {
	background: @primary;
  background-image: url("/plugins/themes/healthSciencesPIE/templates/images/bg-noise.png");
  border-radius: 0;
	color: @parchment;

	.close {
		color: @parchment;
		text-shadow: none;
		opacity: 1;
	}

  h2 {
    margin: 0 0 2rem 0;
  }

	a {
		color: @parchment;
		text-decoration: underline;

		&:hover,
		&:focus {
			color: @parchment;
      text-decoration: none;
		}
	}

  label, input, select {
    border-color: @parchment;
    color: @parchment;
  }

  hr {
    background-color: @parchment;
  }

	.btn {
    background-color: @parchment;
    border-color: @parchment;
    color: @primary;

		&:hover,
		&:focus {
      background-color: @primary;
      border-color: @parchment;
			color: @parchment;
		}
	}

	@media (min-width: 992px) {
		padding: 2rem;

		.close {
			position: absolute;
			top: 0.5rem;
			right: 0.8rem;
		}
	}
}

@media (min-width: 992px) {

	#loginModal .close {
		top: -2.5rem;
		right: -2rem;
	}
}
