.pagination-link {
  border-radius: 0;
  border: 0;
  background-color: transparent;
	color: @primary;

	&:hover,
	&:focus {
		background: @primary;
		color: @parchment;
	}
}

.pagination-item {
  &:first-child,
  &:last-child {

    .pagination-link {
      border-radius: 0;
    }

  }

  &.active .pagination-link {
    padding-left: 1rem;
		padding-right: 1rem;
  	background: transparent;
  	color: @black;
  }

  &.disabled .pagination-link {
    background: transparent;
    color: @dark-grey;
    font-style: italic;
  }
}
