.article-summary {
	margin: 2rem 0 3rem;
}

.article-summary-authors,
.article-summary-pages {
	font-size: 0.85rem;
	line-height: 1.5em;
	color: @dark-grey;
}

.article-summary-title {
  margin: 0.5rem 0;
	font-size: @link-size + @link-size/4;
	font-family: @font;

	a {
		color: @black;

		&:hover {
			color: @primary;
		}
	}
}

.article-summary-galleys {
	margin-top: 1em;
}

.article-summary-date {
	margin-top: 0.5rem;
	font-family: @font;
	font-size: 1rem;
}
