// Hide the bibliography number produced by some CSL styles
.article-details-how-to-cite .csl-left-margin {
	display: none;
}

.csl-entry {
	word-break: break-word;
}

.article-details-license {
	margin-top: 60px;
	font-size: 0.9rem;
}

.article-details-galleys-btm {
	display: none;
}

.article-details-abstract {
	line-height: 1.8em;
}

.article-details-references-value p {
	overflow-x: hidden;
	text-overflow: ellipsis;
}

// Recommend author
#articlesBySameAuthorList {
	.unstyled-list;
}
