.issue-wrapper {
	-ms-flex-pack: center;
	justify-content: center;
}

.issue-toc {
  padding: 2rem;
  background-color: @parchment;
}

.issue-toc-section-title {
	margin: 2rem 0;
	font-family: @font;
	font-size: 18px;
	color: @primary-text;

  &:first-of-type {
    margin-top: 0;
  }
}
