.issue-wrapper {
	-ms-flex-pack: center;
	justify-content: center;
}

.issue-toc {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: 2em;
  }
}

.issue-toc-section-title {
	margin: 2rem 0;
	font-family: @font;
	font-size: 1rem;
	color: @primary-text;

  &:first-of-type {
    margin-top: 0;
  }
}

.issue-toc-article {
  padding: 0;
  margin: 0;
  list-style: none;
}
