.issue-summary {
	margin-bottom: 3rem;
	border-top: 1px solid @black;
  max-width: 200px;
}

.issue-summary-cover {
  margin-top: 1em;
	max-width: 100%;
	height: 125px;
  object-fit: cover;
  filter: grayscale(100%);
  mix-blend-mode: multiply;

  &:hover,
  &:focus {
    filter: none;
  }
}

.issue-summary-series {

	a {
		color: @black;
	}
}

.issue-summary-title,
.issue-summary-date {
	font-size: 14px;
	color: @dark-grey;
}

.issue-summary-date {
	margin-bottom: 1rem;
}

.issue-summary-title {
	margin-bottom: 0;
}
