body {
  background-color: @light-grey;
}

img {
  max-width: 100%;
  height: auto;
}

a {
	color: @primary-text;

	&:hover,
	&:focus {
  		color: @primary;
      text-decoration: none;
	}
}

p {

  &:last-child {
    margin-bottom: 0;
  }
}

header {
  margin-bottom: 2rem;
}
