body {
  background-color: @light-grey;
}

img {
  max-width: 100%;
  height: auto;
}

a {
	color: @primary-text;

	&:hover,
	&:focus {
  		color: @primary;
      text-decoration: none;
	}
}

p {

  &:last-child {
    margin-bottom: 0;
  }
}

article {
  margin-bottom: 3rem;
  border-bottom: 1px solid @mid-grey;

  &:last-of-type {
    margin-bottom: 0;
    border: 0;
  }
}
